body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #F0F0F0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* Align items to the start to give room for the hamburger button */
    background: #00B385;
    color: #ffffff;
    padding: 1em 0;
    text-shadow: 1px 1px 2px black, 0 1px 1px rgba(0, 0, 0, 0.15);
}

h1 {
    flex-grow: 1;
    text-align: center;
    margin: 0;
    padding: 0;
}

.nav-bar {
    position: fixed;
    top: 6%;
    /* Adjust based on the header height */
    bottom: 0;
    left: 0;
    width: 250px;
    background-color: #00B385;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 60px;
    /* Default padding-top */
}

/* Media query for screens smaller than 630px wide */
@media (max-width: 700px) {
    .nav-bar {
        top: 7%;
        /* Example adjustment for smaller screens */
        /* Other adjustments for smaller screens can go here */
    }
}

@media (max-width: 630px) {
    .nav-bar {
        top: 17%;
        /* Example adjustment for smaller screens */
        /* Other adjustments for smaller screens can go here */
    }
}

@media (max-width: 430px) {
    .nav-bar {
        top: 12%;
        /* Example adjustment for smaller screens */
        /* Other adjustments for smaller screens can go here */
    }
}

@media (max-width: 390px) {
    .nav-bar {
        top: 17%;
        /* Example adjustment for smaller screens */
        /* Other adjustments for smaller screens can go here */
    }
}

@media (max-width: 414px) {
    .nav-bar {
        top: 17%;
        /* Example adjustment for smaller screens */
        /* Other adjustments for smaller screens can go here */
    }
}

@media (max-width: 375px) {
    .nav-bar {
        top: 19%;
        /* Example adjustment for smaller screens */
        /* Other adjustments for smaller screens can go here */
    }
}



.nav-bar a {
    color: white;
    text-decoration: none;
    margin: 15px 25px;
    font-size: 1.2em;
    transition: color 0.3s, text-shadow 0.3s;
}

.nav-bar a:hover {
    color: #ffffff;
    text-shadow: 0px 0px 8px rgb(255, 255, 255);
}

.welcome-section {
    padding: 50px 20px;
    text-align: center;
}

.welcome-section h1,
.welcome-section p {
    color: #000000;
    margin-top: 0;
}

.footer {
    text-align: center;
    padding: 20px 0;
    background-color: #00B385;
    color: white;
    position: fixed;
    justify-content: end;
    bottom: 0;
    width: 100%;
}

.line {
    border: none;
    height: 2px;
    background-color: black;
    margin: 20px 0;
}

.btn-hidden {
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: left;
    min-height: 10px;
    padding-left: 0;
    padding-right: 0;
    border: none;
    background-color: transparent;
    color: inherit;
    cursor: pointer;
    transition: .3s ease;
    padding: 0 20px;
    justify-self: start;
    margin-right: auto;
    visibility: hidden;
    /* Keeps it invisible */

}

/* Base button styles */
.btn-menu {
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: left;
    min-height: 10px;
    padding-left: 0;
    padding-right: 0;
    border: none;
    background-color: transparent;
    color: inherit;
    cursor: pointer;
    transition: .3s ease;
    padding: 0 20px;
    justify-self: start;
    margin-right: auto;
}

.btn-menu:focus {
    outline: none;
}

.btn-menu__text {
    margin-left: 10px;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1;
}

/* Button bars */
.btn-menu__bars {
    display: block;
    position: relative;
    width: 35px;
    height: 4px;
    background-color: #ffffff;
    /* Assuming $primary is #00B385, replace it with your primary color variable value */
    transition: .3s;
}

.btn-menu__bars:before,
.btn-menu__bars:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    /* Assuming $primary is #00B385, replace it with your primary color variable value */
    transition: .3s;
}

.btn-menu__bars:before {
    transform: translate(0, -11px);
}

.btn-menu__bars:after {
    transform: translate(0, 11px);
}

/* Menu open state transformations */
.menu-open .btn-menu__bars {
    background-color: transparent;
}

.menu-open .btn-menu__bars:before {
    transform: rotate(45deg);
}

.menu-open .btn-menu__bars:after {
    transform: rotate(-45deg);
}


/* Existing .btn-menu and related styles remain unchanged */

.menu-open .nav-bar {
    transform: translateX(0);
    /* Slide in nav bar */
}